<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Accounting.BI Reset Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div>
    <h4>Password reset for Effix&nbsp;</h4>
</div>
<div>
    <p>To reset your password, please click the link below&nbsp;</p>
</div>
<div>
    <p th:text="${verificationUrl}">ACTIVATION URL&nbsp;</p>
</div>
<div>
    <p>If you the above URL does not appear as a clickable link, please open another tab on your browser&nbsp;then
        copy &amp; paste the URL into the search bar.&nbsp;</p>
</div>

</body>

</html>